.page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.nav {
  border-bottom: 1px solid;
}

.HomeNavBrand {
  display: flex;
  align-items: center;
}
